:root{
    --title-font: 6.0rem;
    --p-font: 1.3rem;
}
.hero-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
    align-items: start;
    /* justify-content: center; */
    justify-content: center;
    justify-items: start;
    grid-template-areas: 
    "heading-words heading-words ."
    ". . ."
    ". . description"
    ;
}

.hero-banner h1 {
    color: white;
    font-size: var(--title-font);
    font-weight: 400;
}

.hero-banner h1 .color{
    color: rgb(128, 216, 216);
}

.hero-banner p {
    font-size: var(--p-font);
    color: white;
}

.heading-words {
    grid-area: heading-words;


}

.description {
    grid-area: description;
    align-self: center;

}

.accenuate
{
   text-transform: none;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #ffffff 25%,
    #ffffff 50%,
    #e03f3f 75%,
    #d2cf7ac6 90%,
    #ffffff 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  font-weight: 700;
  font-size: 1.3rem;
}