.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .5s ;
    background-color: black;
    position: relative;
    z-index: -3;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -2;
}


.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(11, 17, 27, 0.596);
    z-index: -1;
}

.content {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    z-index: 1;
    padding-bottom: 40vh;
}

.content>h1 {
    /* font-size: 12vh; */
    font-size: 4.0vw;
    color: rgb(234, 234, 234);
    text-shadow: 3px 3px 5px #b4b4b4;
    /* margin: 10px */
}

.content>h2 {
    font-size: 1.2vw;
    color: white;
}

@media screen and (max-width: 1440px) {
    .content>h1 {
        font-size: 5rem;
    }
    .content>h2 {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 1024px) {
    .content>h1 {
        font-size: 4rem;
    }
    .content>h2 {
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width: 768px) {
    .content>h1 {
        font-size: 5rem;
    }
    .content>h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 426px) {
    .content>h1 {
        font-size: 3.0rem;
    }
    .content>h2 {
        font-size: .8rem;
    }
}

@media screen and (max-width: 376px) {
    .content>h1 {
        font-size: 2.8rem;
    }
    .content>h2 {
        font-size: .8rem;
    }
}