.explanation-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
    align-items: start;
    /* justify-content: center; */
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    "pro-icon org-icon cre-icon com-icon"
    "pro-desc org-desc cre-desc com-desc"
    "pro-desc org-desc cre-desc com-desc"
    ;
    color: white;
}

.explanation-banner .icon {
}

/* productivity */
.productivity-icon {
    grid-area: pro-icon;
    align-self: center;
    color: rgb(0, 255, 140);  
}
.productivity-desc {
    grid-area: pro-desc;
}

/* organization */
.organization-icon {
    grid-area: org-icon;
    color: red;
    align-self: center;
}
.organization-desc {
    grid-area: org-desc
}

/* creativity */
.creativity-icon {
    grid-area: cre-icon;
    color: rgb(60, 0, 255);
    align-self: center;
}
.creativity-desc {
    grid-area: cre-desc
}

/* comfort */
.comfort-icon {
    grid-area: com-icon;
    color: rgb(255, 251, 0);
    align-self: center;
}
.comfort-desc {
    grid-area: com-desc
}

