.container.detail {
    display: grid;
    /* grid-template-columns: 1.5fr .5fr; */
    grid-template-columns: 70% 30%;
    justify-content: center;
    grid-column-gap: 2rem;
    background-color: rgb(11, 17, 27);
    margin-top: 12rem;
    max-height: auto;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
}

.BattlestationDetailPage {
    /* margin-left: 1rem; */
    /* margin-right: .5rem;  */

}

.BattlestationDetailPage ul {
    flex-direction: column;
    justify-self: center;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0;
}

.BattlestationDetailPage li {
    list-style-type: none;
    color: white;
}

.image {
    /* flex-direction: column; */
    justify-self: center;
    align-items: center;
    max-width: 1000px;
    max-height: 800px;
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.295);

}
