.description-banner {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 90vh;
}

.description-animation {
    height: 450px;
    width: 450px;
    object-fit: contain;
}